body {
    margin:0px;
    display: grid;
}
canvas {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    user-select: none;
}


#canvas-header {
    margin-top: 20px;
}


#drawr-container3 {
    align-self: center;
    aspect-ratio: 1 / 1;
    width: min(80vh, 80vw);
    margin: 20px 0;
    border: 3px dotted gray;
}

#container {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    padding: 0;
    margin: 0;
}

#cover {
    width: 100vw;
    background-color: white;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 100;
    opacity: 1;
}

#coverContent {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#optionsContainer {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: fit-content;
    text-align: center;
}

#start-btn {
    align-self: center;
}

#done-btn {
    align-self: right;
    width: 200px;
}

#restart-btn {
    align-self: left;
    width: 200px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#imgForm {
    padding: 20px;
}

.btn-light {
    border: 1px solid lightgrey;
}

input {
    padding: 5px;
}

textarea {
    padding: 5px;
}