#img_wall {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
}

.img-card {
    margin: 10px;
    box-shadow: 1px 1px 3px grey;
    font-size: 0.7em;
}

img.card-img-top {
    height: 23.8vh;
}

.img-card > .card-body {
    font-size: 1.5vh;
}

.img-card > .card-body-admin {
    height: fit-content;
    font-size: 12px;
}

body {
    overflow-y: hidden;
}