#img_wall {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
}

.img-card {
    margin: 10px;
    width: 200px;
    box-shadow: 1px 1px 3px grey;
}

.img-card > .card-body {
    height: 60px;
    font-size: 12px;
}

.img-card > .card-body-admin {
    height: fit-content;
    font-size: 12px;
}

body {
    overflow-y: hidden;
}